# .NET Core specific
*.swp
*.suo
*.user
*.lock
*.pidb
*.sln.ide
*.cache
*.next
*.bak
*.bak.*
*.log
*.log.*
*.tmp
*.tmp.*
*.swm
*.swr
*.userprefs
*DS_Store*
*Thumbs.db

# Build results
bin/
obj/
**/[Bb]in
**/[Oo]bj
**/[Bb]in/**
**/[Oo]bj/**
*.exe
*.dll
*.so
*.dylib
*.pdb
*.mdb
*.opendb
*.opensdf

# NuGet packages
packages/
**/packages/*
*.nupkg

# Visual Studio Code
.vscode/

# Visual Studio for Mac
.vs/

# Rider IDE
.idea/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Test Results
TestResults/
**/TestResults
**/[Tt]est[Rr]esults

# Misc
logs.txt