[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
websockets = "*"
pika = "*"
requests = "*"

[dev-packages]
black = "*"
isort = "*"

[requires]
python_version = "3.11"
